/ {
    aliases {
        paw3395 = &paw3395_0;
        scrolla = &scroll_a;
        scrollb = &scroll_b;
        scrollbtn = &scroll_btn;
        ledstrip = &ws2812;
    };

    
    buttons {
        compatible = "gpio-keys";
        status = "okay";
        
        scroll_a: scroll_a {
            gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        };
        scroll_b: scroll_b {
            gpios = <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        };
        scroll_btn: scroll_btn {
            gpios = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        };
    };    
};


&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;


    paw3395_0: paw3395@0 {
        compatible = "pixart,paw3395";
        reg = <0>;
        irq-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
        spi-max-frequency = <2000000>;
    };
};

&pwm0 {
    status = "okay";

    ws2812: ws2812 {
        compatible = "worldsemi,ws2812-pwm";
        chain-length = <1>;  // Number of LEDs
        color-order = "GRB";
        pwms = <&pwm0 0 PWM_USEC(1) 0>;  // Channel 0, 800kHz (1.25µs period)
        pinctrl-0 = <&pwm0_default>;
        pinctrl-names = "default";
    };
};


&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 19)>, 
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                    <NRF_PSEL(SPIM_MISO, 0, 21)>;
            };
    };
    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 19)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                    <NRF_PSEL(SPIM_MISO, 0, 21)>;
            low-power-enable;
        };
    };
    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;
        };
    };
};


